@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9946 0.0026 286.3519);
  --foreground: oklch(0.1615 0.0105 285.1663);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.1615 0.0105 285.1663);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.1615 0.0105 285.1663);
  --primary: oklch(0.5565 0.2430 261.9529);
  --primary-foreground: oklch(0.9670 0.0029 264.5419);
  --secondary: oklch(0.9475 0.0268 290.4744);
  --secondary-foreground: oklch(0.4143 0.1248 286.0391);
  --muted: oklch(0.9601 0.0093 286.2229);
  --muted-foreground: oklch(0.5052 0.0379 284.9640);
  --accent: oklch(0.9634 0.0175 279.0619);
  --accent-foreground: oklch(0.5553 0.2554 283.4559);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(0.9842 0.0034 247.8575);
  --border: oklch(0.9163 0.0162 286.0759);
  --input: oklch(0.9163 0.0162 286.0759);
  --ring: oklch(0.5565 0.2430 261.9529);
  --chart-1: oklch(0.5553 0.2554 283.4559);
  --chart-2: oklch(0.6037 0.2141 267.5162);
  --chart-3: oklch(0.7495 0.1297 210.9704);
  --chart-4: oklch(0.8023 0.1492 175.5763);
  --chart-5: oklch(0.6945 0.1422 167.0638);
  --sidebar: oklch(0.9946 0.0026 286.3519);
  --sidebar-foreground: oklch(0.1615 0.0105 285.1663);
  --sidebar-primary: oklch(0.5565 0.2430 261.9529);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9634 0.0175 279.0619);
  --sidebar-accent-foreground: oklch(0.5553 0.2554 283.4559);
  --sidebar-border: oklch(0.9163 0.0162 286.0759);
  --sidebar-ring: oklch(0.5565 0.2430 261.9529);
  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Merriweather', serif;
  --font-mono: 'JetBrains Mono', monospace;
  --radius: 1.4rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 15px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.15;
  --shadow-color: #000000;
  --shadow-2xs: 0px 4px 15px 0px hsl(0 0% 0% / 0.07);
  --shadow-xs: 0px 4px 15px 0px hsl(0 0% 0% / 0.07);
  --shadow-sm: 0px 4px 15px 0px hsl(0 0% 0% / 0.15), 0px 1px 2px -1px hsl(0 0% 0% / 0.15);
  --shadow: 0px 4px 15px 0px hsl(0 0% 0% / 0.15), 0px 1px 2px -1px hsl(0 0% 0% / 0.15);
  --shadow-md: 0px 4px 15px 0px hsl(0 0% 0% / 0.15), 0px 2px 4px -1px hsl(0 0% 0% / 0.15);
  --shadow-lg: 0px 4px 15px 0px hsl(0 0% 0% / 0.15), 0px 4px 6px -1px hsl(0 0% 0% / 0.15);
  --shadow-xl: 0px 4px 15px 0px hsl(0 0% 0% / 0.15), 0px 8px 10px -1px hsl(0 0% 0% / 0.15);
  --shadow-2xl: 0px 4px 15px 0px hsl(0 0% 0% / 0.38);
  --tracking-normal: -0.01em;
  --spacing: 0.25rem;
}

.dark {
  color-scheme: dark;
  --background: oklch(0.1457 0.0043 285.8570);
  --foreground: oklch(0.9803 0.0053 286.3017);
  --card: oklch(0.1840 0.0081 285.5768);
  --card-foreground: oklch(0.9803 0.0053 286.3017);
  --popover: oklch(0.1840 0.0081 285.5768);
  --popover-foreground: oklch(0.9803 0.0053 286.3017);
  --primary: oklch(0.6449 0.2024 288.1131);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.2434 0.0577 285.6789);
  --secondary-foreground: oklch(0.8684 0.0704 292.0563);
  --muted: oklch(0.2225 0.0194 284.7155);
  --muted-foreground: oklch(0.7155 0.0288 285.6486);
  --accent: oklch(0.2793 0.0598 283.1864);
  --accent-foreground: oklch(0.8201 0.0997 293.7767);
  --destructive: oklch(0.3958 0.1331 25.7230);
  --destructive-foreground: oklch(0.9842 0.0034 247.8575);
  --border: oklch(0.2897 0.0199 285.0881);
  --input: oklch(0.2897 0.0199 285.0881);
  --ring: oklch(0.6449 0.2024 288.1131);
  --chart-1: oklch(0.6231 0.1880 259.8145);
  --chart-2: oklch(0.6268 0.2325 303.9004);
  --chart-3: oklch(0.5854 0.2041 277.1173);
  --chart-4: oklch(0.6056 0.2189 292.7172);
  --chart-5: oklch(0.7845 0.1325 181.9120);
  --sidebar: oklch(0.1795 0.0082 285.5496);
  --sidebar-foreground: oklch(0.9197 0.0040 286.3202);
  --sidebar-primary: oklch(0.6449 0.2024 288.1131);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.2434 0.0577 285.6789);
  --sidebar-accent-foreground: oklch(0.8684 0.0704 292.0563);
  --sidebar-border: oklch(0.2739 0.0055 286.0326);
  --sidebar-ring: oklch(0.6449 0.2024 288.1131);
  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Merriweather', serif;
  --font-mono: 'JetBrains Mono', monospace;
  --radius: 1.4rem;
  --shadow-x: 0px;
  --shadow-y: 10px;
  --shadow-blur: 25px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.15;
  --shadow-color: #000000;
  --shadow-2xs: 0px 10px 25px 0px hsl(0 0% 0% / 0.07);
  --shadow-xs: 0px 10px 25px 0px hsl(0 0% 0% / 0.07);
  --shadow-sm: 0px 10px 25px 0px hsl(0 0% 0% / 0.15), 0px 1px 2px -1px hsl(0 0% 0% / 0.15);
  --shadow: 0px 10px 25px 0px hsl(0 0% 0% / 0.15), 0px 1px 2px -1px hsl(0 0% 0% / 0.15);
  --shadow-md: 0px 10px 25px 0px hsl(0 0% 0% / 0.15), 0px 2px 4px -1px hsl(0 0% 0% / 0.15);
  --shadow-lg: 0px 10px 25px 0px hsl(0 0% 0% / 0.15), 0px 4px 6px -1px hsl(0 0% 0% / 0.15);
  --shadow-xl: 0px 10px 25px 0px hsl(0 0% 0% / 0.15), 0px 8px 10px -1px hsl(0 0% 0% / 0.15);
  --shadow-2xl: 0px 10px 25px 0px hsl(0 0% 0% / 0.38);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}